CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/EmbedSky/tq-imx6ul/imximage.cfg"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TQIMX6UL=y
#CONFIG_TARGET_MX6ULL_14X14_EVK=y
CONFIG_TARGET_TQIMX6UL_COREB=y
CONFIG_SYS_PROMPT="TQIMX6UL => "

CONFIG_CMD_GPIO=y
